json/largeJsonProof.json filter=lfs diff=lfs merge=lfs -text
json/mediumJsonProof.json filter=lfs diff=lfs merge=lfs -text
json/smallJsonProof2_Lemmas.json filter=lfs diff=lfs merge=lfs -text
json/smallJsonProof4.json filter=lfs diff=lfs merge=lfs -text
json/smallJsonProof5.json filter=lfs diff=lfs merge=lfs -text
json/smallJsonProof_Lemmas.json filter=lfs diff=lfs merge=lfs -text
json/tinyJsonProof4_Lemmas.json filter=lfs diff=lfs merge=lfs -text
json/toy.json filter=lfs diff=lfs merge=lfs -text
json/mediumJsonProof2.json filter=lfs diff=lfs merge=lfs -text
json/smallJsonProof2.json filter=lfs diff=lfs merge=lfs -text
json/smallJsonProof5_Lemmas.json filter=lfs diff=lfs merge=lfs -text
json/smallJsonProof6_Lemmas.json filter=lfs diff=lfs merge=lfs -text
json/tinyJsonProof1.json filter=lfs diff=lfs merge=lfs -text
json/tinyJsonProof3.json filter=lfs diff=lfs merge=lfs -text
json/tinyJsonProof3_Lemmas.json filter=lfs diff=lfs merge=lfs -text
json/tinyJsonProof5.json filter=lfs diff=lfs merge=lfs -text
json/smallJsonProof3_Lemmas.json filter=lfs diff=lfs merge=lfs -text
json/tinyJsonProof1_Lemmas.json filter=lfs diff=lfs merge=lfs -text
json/tinyJsonProof2.json filter=lfs diff=lfs merge=lfs -text
json/tinyJsonProof4.json filter=lfs diff=lfs merge=lfs -text
json/smallJsonProof3.json filter=lfs diff=lfs merge=lfs -text
json/smallJsonProof4_Lemmas.json filter=lfs diff=lfs merge=lfs -text
json/smallJsonProof6.json filter=lfs diff=lfs merge=lfs -text
json/smallJsonProof.json filter=lfs diff=lfs merge=lfs -text
json/tinyJsonProof2_Lemmas.json filter=lfs diff=lfs merge=lfs -text
json/tinyJsonProof5_Lemmas.json filter=lfs diff=lfs merge=lfs -text
